{% extends "base.html" %}
{% block title %}1Form{% endblock %}
{% block content %}

<form action="/4" method="POST">
	<div class="mt-2 text-xl font-bold text-gray-700 dark:text-white">
		Insert new item
		</div>
    <div class="grid gap-6 mb-6 md: p-4">
        <div class="mb-6">
            <label for="itemid" class="label-primary">
                ItemId</label>
            <input type="text" id="itemid" name="itemid"
                class="input-primary"
                placeholder="Enter Item id" required>

        </div>
        <button type="submit"
            class="submit-primary">Submit</button>
    </div>
</form>
{% endblock %}